.button {
  width: 170px;
  height: 47px;
  top: 13px;
  left: 1238px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 12px;
  border: 1px;
  gap: 10px;
  background-color: var(--color-black);
  color: var(--color-primary);
  cursor: pointer;
}
